
<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4ed4d66ea3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style-front.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <section id="title">
        <div class="container-fluid section-one">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
                <a class="navbar-brand" href="#"><i class="fab fa-canadian-maple-leaf fa-1x nav-ico"></i>Chinar Academy<i class="fas fa-university nav-ico"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Testomonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="quote-h1">Upgrade your skill set and learn new technologies</h1>
                    <button type="button" class="btn btn-dark btn-sec-one"><i class="fas fa-sign-in-alt"></i>SignUp</button>
                    <button type="button" class="btn btn-outline-dark btn-sec-one"><i class="fas fa-user-plus"> </i>Login</button>
                    <h2 class="quote-h2"><span id="inner-text">Classes to Spark Your Creativity</span></h2>
                    <div class="animated-shadow-quote">
                        <blockquote>
                            <p>Wisdom is not a product of schooling but of the lifelong attempt to acquire it</p>
                            <cite>Albert Einstein</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'img3.jpg' %}" class="img-one">
                </div>
            </div>
        </div>


    </section>

    <!--    Here starts the coding for the next section namely features-->
    <section class="features">
        <div class="container-fluid">
            <div class="row row-section-two">
                <div class="col-md-4">
                    <i class="fas fa-book fa-4x rotating"></i>
                    <h3 class="features-h3">Free Academic Resources</h3>
                    <p>We aggreated all free to use content on the net in one place</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-language fa-4x rotating"></i>
                    <h3 class="features-h3">Global &amp; Localised Content</h3>
                    <p>Courses in local languages,taught by local teacher of the region</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-heart fa-4x rotating"></i>
                    <h3 class="features-h3">Easy to use,browse &amp; access.</h3>
                    <p>User friendly UI and a suit of features to assit you in learning. </p>
                </div>
            </div>
        </div>
    </section>

    <!--    Here starts the sctions three-->

        <section id="carousel">

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="carousel-content container-fluid">
                                <img src="{% static 'img4.png' %}" class="carousel-img">
                                <p class="carousel-text"> I enjoyed learning the new skills. Learning from the experienced instructor and the easy to follow steps gave me motivation and wanting to learn more. I have taken 5 course so far and enjoyed all 5 learned a lot. Will return for more course materials for more learning experience soon. THANK YOU!!!</p>
                                <h3 class="carousel-h3"><em>Damina   Ahmad</em></h3>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="carousel-content container-fluid">
                                <img src="{% static 'img5.png' %}" class="carousel-img">
                                <p class="carousel-text"> Comprehensive, yet still concise. Decent-paced, just for not-a-beginner. Everything you need to know about Bootstrap and even a little more on custom CSS. Well spent time and money, thanks</p>
                                <h3 class="carousel-h3"><em>Angela Khan</em></h3>
                            </div>
                        </div>

                        <div class="carousel-item container-fluid ">
                            <div class="carousel-content">
                                <img src="{% static 'img6.png' %}" class="carousel-img">
                                <p class="carousel-text">This course is WONDERFUL! Just what I needed. I do have one issue, however. I am having a great deal of difficulty understanding the instructor. His accent to me makes it difficult to comprehend all the terms. I'm getting used to it now but I could use it a bit clearer.</p>
                                <h3 class="carousel-h3"><em>Faiq Showkat</em></h3>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
    </section>
    
    <footer id="footer">
      <div class="container-fluid">
        <i class="social-icon fab fa-2x fa-facebook-f"></i>
        <i class="social-icon fab fa-2x fa-twitter"></i>
        <i class="social-icon fab  fa-2x fa-instagram instaicon"></i>
        <i class="fas fa-envelope-square fa-2x"></i>
        <p>© Copyright 2021 Chinar Academy</p>
      </div>
    </footer>


</body>

</html>
