
<!doctype html>
<html lang="en">

<head>

	{% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/4ed4d66ea3.js" crossorigin="anonymous"></script>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'style-home.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Ubuntu&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <title>Hello, world!</title>
</head>

<body>
    <header>
        <div class="container-fluid px-0">
            <div class="main-bar">
                <div class="row">
                    <div class="col-lg-3"><i class="fab fa-canadian-maple-leaf fa-2x "></i><span class="web-title">ChinarAcademy</span><i class="fas fa-university fa-2x"></i></a>
                    </div>
                    <div class="col-lg-5">
                        <div class="input-group rounded search-box">
                            <input type="search" class="form-control rounded" placeholder="Search" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
					<div class="col-lg-3 "><div class="ml-auto" style="text-align: right;margin-top: 1rem;"> Welcome, {{request.user}}</div></div>
					
                    <div class="col-lg-1 main-profile">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="drop-img" src="{% static 'profile-icon.jpg' %}">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="{% url 'logoutuser' %}">Logout</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </header>
    <main>
        <div class="container-fluid main-one">
            <div class="row">
                <div class="col-lg-2 px-0 main-left">
                    <ul class="ul-one">
                        <li><i class="fas fa-home side-bar-icon fa-2x"></i><a class="side-links" href=""><span class="link-text">Home</span></a></li>
                        <li><i class="fab fa-hotjar side-bar-icon fa-2x"></i><a class="side-links" href=""><span class="link-text">Trending Courses</span></a></li>
                        <li><i class="fas fa-clock side-bar-icon fa-2x"></i><a class="side-links" href=""><span class="link-text">Quick Tutorials</span></a></li>
                    </ul>
                    <hr class="horizontal-rule">

                    <ul class="ul-two">
                        <li><i class="fas fa-history side-bar-icon fa-2x"></i><a class="side-links" href=""><span class="link-text">History</span></a></li>
                        <li><i class="fas fa-compass side-bar-icon fa-2x"></i><a class="side-links" href=""><span class="link-text">Browse Courses</span></a></li>
                        <li><i class="fas fa-hands-helping side-bar-icon fa-2x"></i><a class="side-links" href=""><span class="link-text">Help</span></a></li>
                    </ul>
                    <hr class="horizontal-rule">

                    <div>
                        <h4 class="watch">Watch List</h4>
                    </div>
                </div>

                <div class="col-lg-10 main-right">
                    <div class="title-one"><Span>Latest Courses</Span></div>
                    <div class="latest-gallery">
                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/0IAPZzGSbME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Algorithims & Design</h4>
                                <p>Teacher: Mr Abdul Bari <br> Stream: Computer Science</p>
                            </div>
                        </div>

                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/Qqx_wzMmFeA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Java Script </h4>
                                <h4>Java Script </h4>
                                <p>Teacher: Antosh Sanket <br> Stream: Computer Science</p>
                            </div>
                        </div>

                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/TL0K0AhI7kE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Marketing </h4>
                                <p>Teacher:Dr. Manfred Kirchgeorg <br> Stream: Commerce</p>
                            </div>
                        </div>

                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/w3GV9pumczQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Calculus </h4>
                                <p>Teacher:Mr Khorne Bezerker <br> Stream: Maths</p>
                            </div>
                        </div>

                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/rggj5iVXIKE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Cellular Biology</h4>
                                <p>Teacher: Mr David Woodruff <br> Stream: Medical Science</p>
                            </div>
                        </div>

                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/oywlcbS8FdA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Structure of Atom </h4>
                                <p>Teacher: Manocha Academy <br> Stream: Chemistry</p>
                            </div>
                        </div>

                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/IyR_uYsRdPs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Photoshop for Beginners </h4>
                                <p>Teacher: Mr Dan Scott <br> Stream: Design and Art</p>
                            </div>
                        </div>

                        <div class="gallery-item">
                            <iframe class="video-item" width="273px" height="200px" src="https://www.youtube.com/embed/6qCkhR1Z2qw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="gallery-div">
                                <h4>Tally ERP </h4>
                                <p>Academy: Happy Learny<br> Stream: Commerce</p>
                            </div>
                        </div>
                    </div>

                    <!--                    Here ends gallery section and starts latest section-->
                    <div class="tutorials">
                        <div class="title-one"><Span>Tutorials</Span></div>

                        <div class="tutorial-gallery">

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px" src="https://www.youtube.com/embed/JJSoEo8JSnc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Flex Box-CSS</h4>
                                    <p>Subject: Front-end Development</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px" src="https://www.youtube.com/embed/AADZo73yrq4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>ARM Architecture</h4>
                                    <p>Subject:CPU Architcture & ISA</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px" src="https://www.youtube.com/embed/hBh_CC5y8-s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Java Coding</h4>
                                    <p>Subject:Programing Languages</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px" src="https://www.youtube.com/embed/sxTmJE4k0ho" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Python Coding</h4>
                                    <p>Subject:Programing Languages</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px" src="https://www.youtube.com/embed/DVRQoVRzMIY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Git Tutorial</h4>
                                    <p>Subject:Version control system </p>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>




            </div>
        </div>
    </main>

</body>

</html>